.articles{
    background-color: $veryLightGray;
}
.article{

    &__content{

    }
    &__grid{
        display: grid;
        gap: 1.875rem;

        @include breakpoint-up(medium){
            grid-template-columns: repeat(2, 1fr);
        }
        @include breakpoint-up(large){
            grid-template-columns: repeat(4, 1fr);
        }
    }
    &__item{
        border-radius: 0.3125rem;
        overflow: hidden;
    }
    &__image{
        height: 12.5rem;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }
    &__text{
        background-color: $white;
        padding: 1.875rem 1.875rem 2.5rem 1.875rem;

        @include breakpoint-up(medium){
            padding: 1.875rem 1.5625rem;
        }
    }
    &__author{

    }
    &__title{

    }
    &__description{

    }
}